/* Statistics.module.css */

.statistics {
  width: 250px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  -webkit-box-shadow: -2px -2px 7px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px -2px 7px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -2px -2px 7px -1px rgba(0, 0, 0, 0.75);
}

.title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.statList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #f5f5f5; /* Background color for statistical items, you can remove this line if not needed */
}

.label {
  flex-grow: 1;
  padding: 8px;
  background-color: #ddd;
  border-radius: 4px;
  margin-right: 8px;
}

.percentage {
  font-weight: bold;
  color: #4caf50; /* or any other color you prefer */
  -webkit-box-shadow: -2px -2px 7px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px -2px 7px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -2px -2px 7px -1px rgba(0, 0, 0, 0.75);
}
