.transactionHistory {
  border-collapse: collapse;
  table-layout: auto;
  width: 600px;
  margin: 60px auto;
  padding: 5px;
  border-radius: 0px 0px 4px 4px;
  background: white;
  -webkit-box-shadow: -2px -2px 7px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px -2px 7px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -2px -2px 7px -1px rgba(0, 0, 0, 0.75);
}

.tableHeader {
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  background-color: #4bd8ee;
  color: white;
}

.tableData {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.tableData:first-of-type {
  text-transform: capitalize;
}

.tableRow:nth-of-type(even) {
  background-color: #f9f9f9;
}
